[worldserver]

#
#    AutoLevelup.Enable
#        Description: Enable auto levelup for non-death-knight
#                     characters on an account. Death knights are ignored.
#        Default:     1
#
AutoLevelup.Enable = 1

#
#    AutoLevelup.FirstCharacterLevel
#        Description: Level applied to the first current non-death-knight
#                     character on an account.
#        Default:     70
#
AutoLevelup.FirstCharacterLevel = 70

#
#    AutoLevelup.OtherCharacterLevel
#        Description: Level applied to every later non-death-knight
#                     character on the same account.
#        Default:     1
#
AutoLevelup.OtherCharacterLevel = 1
