[worldserver]

#
#    SoloArena.Enable
#        Description: Enable the solo arena challenge module.
#        Default:     1
#
SoloArena.Enable = 1

#
#    SoloArena.NpcEntry
#        Description: Creature template entry used by the arena master.
#        Default:     190021
#
SoloArena.NpcEntry = 190021

#
#    SoloArena.ShadowEntry
#        Description: Creature template entry used by the shadow bot.
#        Default:     190022
#
SoloArena.ShadowEntry = 190022

#
#    SoloArena.Debug
#        Description: Print debug lines to worldserver log.
#        Default:     0
#
SoloArena.Debug = 0
