#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# ModSubscriptions configuration
########################################
#
#    ModAcoreSubscriptions.Enable
#        Description: Enable my module
#        Default:     0 - Disabled
#                     1 - Enabled
#

ModAcoreSubscriptions.Enable = 1
